@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --translate-x :0px;
    --mouse-x: 0deg;
    --rotate-x: 0deg;
    --width-y: 0px;
}

::selection {
    background: #1F1F1F;
    color: #F2F2F2;
}